# Node / NestJS
backend-node/node_modules/
backend-node/dist/
backend-node/.env

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local

# General
.DS_Store
*.log
.idea/
.vscode/
